.App {
  text-align: center;
}

span{
  display: inline-block;
}
.tableall{
  position: relative;
  /*background-color: red; */
}

.tablehead{
  position: absolute;
  top: 0px;
}
.tabledata{
  position: absolute;
  top:0px;
  left: 300px;;
}

