.App {
  text-align: center;
}

span{
  display: inline-block;
}
.tableall{
  position: relative;
  left: 40px;
  margin-top: 20px;
  /*background-color: red; */
}

.tablehead{
  position: absolute;
  top: 0px;
}
.tabledata{
  position: absolute;
  top:0px;
  left: 300px;;
}

.header{
  position: relative;
  background-color: gray;
  height:50px;
}
.haisentitle{
  position: absolute;
  font-size: 25px;
  top:10px;
  color: white;
  left:30px;
}
.headerbutton{
  position: absolute;
  right: 30px;
  top:15px;
}

.list{
  width: 500px;
  left:100px;
  background-color:mintcream;
}
.list div{
  border: 1px solid gray;
  height: 30px;
  padding-top:10px;
}

